#testimonials {
  position: relative;
  height: 100vh;
  background-color: #ccc;
  padding-top: 200px;
  .container {
    margin: 0 auto;
    width: 350px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #fff;
  width: 250px;
  height: 400px;
  text-align: center;
  opacity: 0.95;
  border-radius: 10px;
  padding: 20px 10px 20px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .fullname {
    color: green;
    font-size: 13px;
    letter-spacing: 0.3px;
  }
  h5 {
  }
  p {
    font-size: 12px;
  }
}

.a {
  transform: rotateY(0deg) translateZ(250px);
}
.b {
  transform: rotateY(60deg) translateZ(250px);
}
.c {
  transform: rotateY(120deg) translateZ(250px);
}
.d {
  transform: rotateY(180deg) translateZ(250px);
}
.e {
  transform: rotateY(240deg) translateZ(250px);
}
.f {
  transform: rotateY(300deg) translateZ(250px);
}

.next,
.prev {
  position: absolute;
  top: 100px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background: rgba($color: $primary, $alpha: 0.6);
  border-radius: 50%;
  transition: all 0.1s, top 0.1s;
  color: white;
  font-size: 25px;
  i {
    height: 30px;
    width: 30px;
  }
}
.next:hover,
.prev:hover {
  background: rgba($color: $primary, $alpha: 0.9);
}
.next:active,
.prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next {
  right: 5em;
}
.prev {
  left: 5em;
}
