#testimonials {
  background: url("../static/images/up-2081170_1920.jpg") no-repeat center
    center / cover;
  background-attachment: fixed;
  position: relative;
  background-color: #ccc;
  .title {
    position: relative;
    h2 {
      text-align: center;
      color: white;
      &::after {
        content: "";
        height: 5px;
        border-radius: 5px;
        width: 220px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $secondary;
        display: block;
        bottom: -15px;
      }
    }
  }
  .inner-bg {
    padding-top: 100px;
    background: rgba($color: $primary, $alpha: 0.7);
  }

  .container {
    position: relative;
    perspective: 1000px;
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: auto;
    background-color: rgba($color: $primary, $alpha: 0.8);
    color: white;
    text-align: center;
    padding: 20px 30px;
    border-radius: 12px;
    span {
      color: rgb(95, 173, 95);
      margin-top: 20px;
      display: block;
    }
    h5 {
      margin-top: 10px;
      i {
      }
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
}
