@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* Please ❤ this if you like it! */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.navbar-logo {
  color: #fff;
  font-family: "Lobster", cursive;
}

.navbar-logo:hover {
  color: white;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
}

.navbar-mainbg {
  background-color: #0f122c;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul a i {
  margin-right: 10px;
}

#navbarSupportedContent a {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > a.active {
  color: #0f122c;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0f122c;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

.menu {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
}

.menu div {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu span {
  background-color: white;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.menu .line-1 {
  transform: translate(-50%, -8px);
}

.menu .line-3 {
  transform: translate(-50%, 6px);
}

.openmenu .line-1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-3 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .line-2 {
  width: 0;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991px) {
  .menu {
    margin-right: 15px;
  }
  header nav .container {
    padding-right: 0;
  }
  #navbarSupportedContent ul a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 12px 100px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
}

.btn-11 {
  display: block;
  border: none;
  background: linear-gradient(to right bottom, #0f122c, #1f2774);
  color: #fff;
  overflow: hidden;
  position: relative;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
  opacity: 0.7;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.1), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
.btn-5 {
  display: block;
  padding: 10px 30px;
  border: none;
}

.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #5161ce;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1333333333);
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.card {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  transform-origin: center;
}
@media screen and (min-width: 600px) {
  .card {
    width: clamp(22vw, 60vh, 15vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

.card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
}

@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
.demo,
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}
p {
  animation: rubberBand 1.5s linear 3s 1;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
#testimonials {
  background: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
  background-color: #ccc;
}
#testimonials .inner-bg {
  padding-top: 200px;
  height: 100vh;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1), #5161ce);
}
#testimonials .container {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #fff;
  width: 250px;
  text-align: center;
  opacity: 0.95;
  border-radius: 10px;
  height: 370px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.item img {
  width: 35%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.item .fullname {
  color: green;
  font-size: 13px;
  letter-spacing: 0.3px;
}
.item h5 {
  font-size: 14px;
  color: #333;
}
.item p {
  font-size: 11px;
  color: #777;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
}

.b {
  transform: rotateY(60deg) translateZ(250px);
}

.c {
  transform: rotateY(120deg) translateZ(250px);
}

.d {
  transform: rotateY(180deg) translateZ(250px);
}

.e {
  transform: rotateY(240deg) translateZ(250px);
}

.f {
  transform: rotateY(300deg) translateZ(250px);
}

.next,
.prev {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  background: rgba(15, 18, 44, 0.6);
  border-radius: 5px;
  transition: all 0.1s, top 0.1s;
  color: white;
  font-size: 25px;
}
.next:hover,
.prev:hover {
  background: rgba(15, 18, 44, 0.9);
}

.next:active,
.prev:active {
  box-shadow: 0 1px 0 #999;
}

.next {
  top: 50%;
  right: 12em;
}

.prev {
  top: 50%;
  left: 12em;
}

#contact {
  background-color: #0f122c;
}
#contact .container {
  height: 600px;
  position: relative;
}
#contact img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#contact .content p {
  margin-bottom: 30px;
}
#contact .socials {
  display: flex;
  gap: 10px;
  text-align: center;
  line-height: 40px;
}
#contact .socials a {
  font-size: 20px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #0f122c;
  color: #fff;
  transition: all 0.3s ease;
}
#contact .socials a:hover {
  box-shadow: none;
  color: #0f122c;
  background-color: white;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 100%;
  transform: translate(-50%, -50%);
  background: #5161ce;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #0f122c;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #0f122c;
  border-radius: 5px;
  box-shadow: 0 0 5px #0f122c, 0 0 25px #0f122c, 0 0 50px #0f122c, 0 0 100px #0f122c;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #0f122c);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #0f122c);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #0f122c);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
/* #Primary
================================================== */
body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.header-wrapper {
  background: rgb(88, 81, 198);
  background: linear-gradient(90deg, rgb(88, 81, 198) 7%, rgb(5, 5, 25) 100%, rgb(39, 164, 190) 100%);
  overflow: hidden;
}

header {
  position: relative;
  z-index: 2;
  height: 100vh;
  padding-top: 62px;
  overflow: hidden;
}
header .content .left {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
}
header .content .left h1 {
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
header .content .left p {
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
header .content .left button {
  letter-spacing: 1px;
}
header .content .right {
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: end;
}
header .content .right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

#tsparticles canvas {
  position: absolute !important;
  max-height: 100vh !important;
  height: 100vh !important;
}

.about-me {
  background: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center/cover;
  background-attachment: fixed;
}
.about-me .inner-bg {
  padding: 120px 0;
  background-color: rgba(15, 18, 44, 0);
}
.about-me-content h2 {
  margin-bottom: 30px;
}
.about-me-content p {
  max-width: 500px;
}
.about-me-content-socials {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.about-me-content-socials a {
  text-decoration: none;
}
.about-me-content-socials a i {
  width: 40px;
  height: 30px;
  display: block;
  background-color: rgba(15, 18, 44, 0.85);
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  cursor: pointer;
}
.portfolio {
  padding: 120px 0;
}
.portfolio .title {
  text-align: center;
}
.portfolio .title p {
  margin-bottom: 30px;
}
.portfolio-content ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}
.portfolio-content ul li button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #0f122c;
}
.portfolio-content ul li button:hover {
  color: #5161ce;
}
.portfolio-content ul li button.active {
  background: #5161ce;
  color: white;
}

/*# sourceMappingURL=main.css.map */
